:root {

    --primary: #6C63FF;
    --secondary: #1F2937;
    --accent: #F59E0B;

    --background: #F9FAFB;
    --text: #111827;

    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: var(--body-font);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    background: var(--secondary);
    color: white;
}

.logo {
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-weight: 600;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.search-section {
    padding: 40px;
}

.search-section input {
    width: 100%;
    max-width: 700px;

    padding: 15px;

    border-radius: 8px;
    border: 1px solid #ddd;
}

section {
    padding: 20px 40px;
}

section h2 {
    margin-bottom: 20px;
    font-family: var(--heading-font);
}

.card-container {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;
}

.card {
    background: white;

    border-radius: 10px;

    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}